@if(isGif){
  <div class="flex no-wrap pa-xs">
    <img [src]="file!.thumbnailUrl" alt="" class="gif-message">
  </div>
} @else {
  <div class="flex no-wrap">
    <div (click)="onAttachmentClick($event)" class="attachment-container">
      @if(file!.thumbnailUrl){
        <!-- <div class="file-image" [ngStyle]="{'background-image': fileUrl}"></div> -->
        <img [src]="file!.thumbnailUrl" alt="">
      } @else {
        <div class="flex no-wrap">
          <div class="download">
            <span class="material-symbols-outlined text-primary">download</span>
          </div>
          <div class="file-name flex column ml-sm">
            <div>{{file?.attachmentOriginalName}}</div>
          </div>
        </div>
      }
    </div>
  </div>
}
