.main-menu .list-md {
  padding: 0;
  .in-list {
    --padding-start: 0;
  }
}

ion-header {
  ion-toolbar {
    ion-thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;
      ion-icon {
        font-size: 1.5rem;
      }
    }
  }
}

ion-header {
  &.header-md:after {
    background: none;
  }
}

.header-md {
  box-shadow: none;
  border-bottom: 1px solid #c4c8c7;
}
.main-menu {
  .header-md {
    box-shadow: none;
    border-bottom: none;
  }
  ion-toolbar {
    --min-height: 40px;
  }
}

ion-toolbar {
  --min-height: 60px;
}
