<ion-header class="">
  <ion-toolbar color="light" class="">
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title size="medium">Find provider</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding" id="my-provider-content">
  <app-provider-search (foundProviders)="foundProviders($event)"></app-provider-search>
  @if((results && providers.length === 0) || (searched && providers.length === 0)){
    <h4>No providers found</h4>
  } @else {
    @if(providers.length > 0){
      <h2 class="mb-md">Providers</h2>
    }
    <app-provider-list [providers]="providers" (cardClickled)="cardClicked($event)" [listTypeCard]="true"></app-provider-list>
  }
</ion-content>
