
/* .ion-padding {
  --padding-start: var(--ion-padding, 16px);
  --padding-end: var(--ion-padding, 16px);
  --padding-top: var(--ion-padding, 32px);
  --padding-bottom: var(--ion-padding, 16px);
} */

.provider-list-item {
  .user-avatar {
    width: 40px;
    height: 40px;
    background-size: 70px 70px;
  }
}
