<app-menu></app-menu>

<app-header></app-header>
  <ion-content [fullscreen]="true" color="light"  class="ion-padding" id="main-content">
    <app-provider-search (foundProviders)="foundProviders($event)"></app-provider-search>
    @if((results && providers.length === 0) || (searched && providers.length === 0)){
      <div>No providers found</div>
    } @else {
      <app-provider-list [providers]="providers" (cardClickled)="cardClicked($event)" [listTypeCard]="true"></app-provider-list>
    }
  </ion-content>

